@global-import './quill.css';

.root {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  outline: none;
  overflow-y: auto;
  padding: 8px 0;
  tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.root > * {
  cursor: text;
}

.root ol,
.root ul {
  padding-left: 1.5em;
}

.root ol > li,
.root ul > li {
  list-style-type: none;
}

.root ul > li:before {
  content: '\2022';
}

.root strong,
.root b {
  font-weight: bold;
}

.root em {
  font-style: italic;
}

.root sub {
  vertical-align: sub;
  font-size: smaller;
}

.root sup {
  vertical-align: super;
  font-size: smaller;
}
